{% extends "base_generic.html" %}

{% block title %}

<title>{{author}}</title>

{% endblock %}

{% block content %}

<h1>{{author}}</h1>
<hr>

<ul>
    <li><strong>নাম: </strong>{{author}}</li>
    <li><strong>জন্ম তারিখ: </strong>{{author.birth_date}}</li>
    <li><strong>মৃত্যু তারিখ: </strong>{{author.death_date}}</li>
       
</ul>
<h3>লেখক পরিচিতিঃ</h3>
<p>====================================</p>

<p>{{author.profile}}</p>

<h3 id="abookh">তার যেসব বই এখানে পাবেনঃ </h3>
<p id="ud">________________________________________________________</p>

{% for book in books %}

<ul>
    <li><a href="{{book.get_absolute_url}}">{{book}}</a></li>
</ul>
{% empty %}
<p>দেখানোর মত কোনো বই পেলাম না</p>
{% endfor %}

{% endblock %}